<main class="p-5">
    <h4>I love you!<i class="bi bi-suit-heart-fill"></i><i class="fa-solid fa-hippo" style="color: #616870;"></i></h4>

    <button class="btn btn-warning">
        <i class="bi bi-sd-card-fill"></i>
        <i class="fa-solid fa-hippo" style="color: #616870;"></i>
    </button>

    <div>
        <i class="fa-brands fa-figma fa-beat" style="color: #a739a4;"></i>
    </div>
    <br>
    <div>
        <img src="/svg/slack.svg">
    </div>
</main>