<main class="p-5">
    <div>
        {{#with main}}
        <main>
            <section>
                {{> title data="My educationss" big=true }}
                <ul class="ps-5">
                    {{#each education}}
                    <li>
                        {{name}}
                        {{#unless isEnd includeZero=false}} (ще в процесі) {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </section>
            <br>
            <section>
                {{> title data="My certificates" big=false}}
                <ul class="ps-5">
                    {{#each certificates}}
                    <li>
                        {{name}}
                        {{#if id}} ({{id}}) {{/if}}

                    </li>
                    {{/each}}
                </ul>
            </section>
        </main>
        {{/with}}
    </div>
</main>