<main class="p-5">

    <head>
        {{> index8header}}
    </head>

    <body>
        <section class="mt-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="pb-3">Pages list</h3>
                    <p>This is pages list aboyt my first project "Resume1".</p>
                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page I
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/summary">Summary</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/skills">Skills</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/education">Education</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/work">Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page II
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/bio">Bio</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/person">Person</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/web">Web</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/js">JS</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/facebook">Facebook</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/car">Car</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/mac">Mac</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/program">Program</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card col-2 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page III
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/task21">Task21</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/task22">Task22</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="http://localhost:3000/task31">Task31</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page IV
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/shophome">Shophome</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2"
                                        href="http://localhost:3000/shopproduct">Shopproduct</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/shopnews">Shopnews</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/shoporder">Shoporder</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="http://localhost:3000/shopcart">Shopcart</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2"
                                        href="http://localhost:3000/shopprofile">Shopprofile</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2"
                                        href="http://localhost:3000/shopreview">Shopreview</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2"
                                        href="http://localhost:3000/shopcatalog">Shopcatalog</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</main>