<main class="p-5">

    <head>
        {{> index8header}}
    </head>

    <body>
        <section class="mt-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="pb-3">Pages list</h3>
                    <p>This is pages list aboyt my first project "Resume1".</p>
                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page I
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-primary mb-2" href="/summary">Summary</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/skills">Skills</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/education">Education</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/work">Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page II
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/bio">Bio</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/person">Person</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/web">Web</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/js">JS</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/facebook">Facebook</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/car">Car</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/mac">Mac</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/program">Program</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card col-2 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page III
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/task21">Task21</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/task22">Task22</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mb-2" href="/task31">Task31</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card col-3 text-center m-1">
                        <div class="row">
                            <div class="card-body">
                                <div class="body-title mb-3">
                                    Page IV
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shophome">Shophome</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopproduct">Shopproduct</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopnews">Shopnews</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shoporder">Shoporder</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopcart">Shopcart</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopprofile">Shopprofile</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopreview">Shopreview</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning mb-2" href="/shopcatalog">Shopcatalog</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</main>